* {
  box-sizing: border-box;
}

body {
  background: #947ced;
  color: rgb(63, 5, 105);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  border-radius: 16px;
  color: #d2f9a2;
}

h1 {
  text-align: left;
  font-weight: 900;
  font-size: 96px;
  color: #d2f9a2;
}

h2 {
  font-size: 48px;
  margin: 0;
}

select {
  display: block;
  background-color: rgb(148, 124, 237);
  width: 100%;
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;
  color: #3f0569;
  border: none;
  margin-bottom: 48px;
  padding: 0px;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  border-color: #3f0569;
}

.time {
  font-size: 88px;
  font-weight: bold;
}

.date {
  margin-top: 8px;
  color: #3f0569;
  font-weight: bold;
}

footer {
  margin-top: 64px;
  text-align: center;
  font-size: 18px;
  color: #feffea;
}
